absl-py
asgiref
astunparse
certifi
charset-normalizer
Django
djangorestframework
drf-yasg
flatbuffers
gast
google-pasta
grpcio
h5py
idna
importlib_metadata
inflection
joblib
libclang
Markdown
markdown-it-py
MarkupSafe
mdurl
ml-dtypes
namex
opt_einsum
optree
packaging
protobuf
psycopg2-binary
Pygments
python-dateutil
pytz
PyYAML
requests
rich
scipy
six
sqlparse
termcolor
threadpoolctl
typing_extensions
tzdata
uritemplate
urllib3
Werkzeug
wrapt
zipp
